* {
  margin: 0px;
  padding: 0px;
  font-family: "Courier New", Courier, monospace;
}

body {
  background-color: #11151c;
  color: #d66853;
  text-align: center;
}
.gameContainer {
  height: 70vh;
  /* background-color: pink; */
  display: flex;
  /* flex-wrap: wrap; */
  align-items: center;
  justify-content: center;
}
.game {
  /* background-color: #d66853; */
  height: 60vmin;
  width: 60vmin;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 1.5vmin;
  justify-content: center;
}
.box {
  height: 18vmin;
  width: 18vmin;
  border-radius: 1rem;
  border: none;
  box-shadow: 0px 0px 7rem 0px #d66853;
  font-size: 2rem;
  color: #d66853;
  background-color: #364156;
}
#resetButt {
  padding: 1rem;
  font-size: 1rem;
  background-color: #364156;
  border: none;
  border-radius: 1rem;
  color: #d66853;
}
#new-button {
  padding: 1rem;
  font-size: 1rem;
  background-color: #364156;
  border: none;
  border-radius: 1rem;
  color: #d66853;
}
#msg {
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: pink; */
}
.hide {
  display: none;
}
.hidefor {
  display: none;
}
